<!-- ================ HEADER SECTION ================ -->
<!-- Contains the navigation and logo -->
<div class="container">
    <nav class="navbar">
        <div class="logo">
            <a href="index.html">
                <img src="assets/images/logo_purple.png" alt="Parent Powered ABA Logo, affordable, accessible, family-focused ABA." style="max-height: 60px;">
                <span style="font-weight: bold; font-size: 32px; color: var(--primary-color); vertical-align: top; margin-left: 10px;">Parent Powered ABA</span>
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="pages/about.html">About</a></li>
            <li><a href="pages/course.html">Course</a></li>
            <li><a href="pages/services.html">Services</a></li>
            <li><a href="pages/blog.html">Blog</a></li>
        </ul>
    </nav>
</div>